:root {
  --font-family: 'Gotham Pro';
  --primary-50: #e5f5f2;
  --primary-100: #bee7e0;
  --primary-200: #92d7cb;
  --primary-300: #66c6b6;
  --primary-400: #46baa6;
  --primary-500: #25ae96;
  --primary-600: #21a78e;
  --primary-700: #1b9d83;
  --primary-800: #169479;
  --primary-900: #0d8468;
  --primary-a100: #b5ffeb;
  --primary-a200: #82ffde;
  --primary-a400: #4fffd0;
  --primary-a700: #36ffca;
  --accent-50: #e2eae9;
  --accent-100: #b7cbc8;
  --accent-200: #88a9a3;
  --accent-300: #58867e;
  --accent-400: #346c62;
  --accent-500: #105246;
  --accent-600: #0e4b3f;
  --accent-700: #0c4137;
  --accent-800: #09382f;
  --accent-900: #052820;
  --accent-a100: #64ffd3;
  --accent-a200: #31ffc5;
  --accent-a400: #00fdb5;
  --accent-a700: #00e3a3;
  --warn-50: #fce7eb;
  --warn-100: #f8c3cd;
  --warn-200: #f39bab;
  --warn-300: #ee7389;
  --warn-400: #ea5570;
  --warn-500: #e63757;
  --warn-600: #e3314f;
  --warn-700: #df2a46;
  --warn-800: #db233c;
  --warn-900: #d5162c;
  --warn-a100: #fff;
  --warn-a200: #ffd3d7;
  --warn-a400: #ffa0a8;
  --warn-a700: #ff8691;

  .theme-dark {
    --primary-50: #f1eff8;
    --primary-100: #ddd8ed;
    --primary-200: #c7bee1;
    --primary-300: #b0a3d5;
    --primary-400: #9f90cc;
    --primary-500: #8e7cc3;
    --primary-600: #8674bd;
    --primary-700: #7b69b5;
    --primary-800: #715fae;
    --primary-900: #5f4ca1;
    --primary-a100: #fefeff;
    --primary-a200: #d6cbff;
    --primary-a400: #ae98ff;
    --primary-a700: #9a7fff;
  }
}
